/* Disable UK-Sticky behavior */

.uk-sticky {
    position: static !important;
    top: auto !important;
    z-index: auto !important;
    width: auto !important;
    transition: none !important;
}

.uk-sticky.uk-active {
    position: static !important;
    top: auto !important;
    z-index: auto !important;
    width: auto !important;
    transition: none !important;
}
